<<<<<<< HEAD
.footer__copyright {
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    padding-left: 19px;
    line-height: 17px;
    font-size: 14px;
    width: 282px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
}
=======
.footer__copyright {
  margin-top: 67px;
  margin-bottom: 60px;
  color: #545454;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 318px;
  height: 18px;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    margin-left: 19px;
    width: 282px;
    height: 14px;
  }
}
>>>>>>> 13397e3b6d2a0b9ae4f960a512f3706d6499fea6
