<<<<<<< HEAD
.page {
  background-color: black;
  color: white;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
=======
.page {
  background-color: black;
  color: white;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
>>>>>>> 13397e3b6d2a0b9ae4f960a512f3706d6499fea6
