.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 195px;
  left: 425px;
  bottom: 195px;
  right: 425px;
  z-index: 999;
}
.model_opnened {
  display: flex;
}

.modal__close {
  background-image: url(../images/close.svg);
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__container {
  max-width: 430px;
  box-sizing: border-box;
  height: 330px;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.modal__heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  color: black;
  margin-bottom: 54px;
  margin-top: 0;
}

.modal__input {
  width: 358px;
  margin-bottom: 29px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.modal__description {
  width: 358px;
  border: none;
  margin-bottom: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.modal__form {
}

.modal__button {
  background-color: black;
  color: #fff;
  width: 358px;
  height: 50px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
